@page "/fetchdata"

<h2>If you have any questions or you want an interview, you can reach me here:</h2>

<h3>Email:</h3>
<a href="rolf.martin@glomsrud.no">rolf.martin@glomsrud.no</a>
<h3>Phone Number</h3>
<p>+47 94196321</p>

<h3>Here you can find my Github where i host most of my personal projects</h3>
<a href="https://github.com/polsevev">
    <img src="https://www.cloudsavvyit.com/thumbcache/0/0/85f60b663104f044ba4840ed62faeefe/p/uploads/2019/10/ba9a7cbd.png" asp-append-version="true" widht="50" height= "50" />
</a>