@page "/projects"

<h2>Education</h2>

<table class="table">
    <thead>
        <tr>
            <th>What:</th>
            <th>From:</th>
            <th>To:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Computer Security Bachelor, University of Bergen:</th>
            <th>2019</th>
            <th>Ongoing</th>
        </tr>
        <tr>
            <th>Science-line Greåker Highschool</th>
            <th>2016</th>
            <th>2019</th>
        </tr>
        <tr>
            <th>Rakkestad Secondary School</th>
            <th>2013</th>
            <th>2016</th>
        </tr>
        <tr>
            <th>Os Primary School</th>
            <th>2006</th>
            <th>2013</th>
        </tr>
    </tbody>
</table>

<h2>Work Experience</h2>

<table class="table">
    <thead>
        <tr>
            <th>What:</th>
            <th>From:</th>
            <th>To:</th>
            <th>Referance:</th>
            <th>Number:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Summerjob at Visavi AS</th>
            <th>2020</th>
            <th>2020</th>
            <th>Not Yet</th>
            <th>Not Yet</th>
        </tr>
        <tr>
            <th>Summerjob at Hansaborg Brewery</th>
            <th>2018</th>
            <th>2019</th>
            <th>Tore Kvamme</th>
            <th>+47 91682101</th>
        </tr>
        <tr>
            <th>Cinema-worker Rakkestad Cinema</th>
            <th>2017</th>
            <th>2019</th>
            <th>Magne Bjørnstad</th>
            <th>+47 99127972</th>
        </tr>
        <tr>
            <th>Evening Guard at Rallestadhallene AS</th>
            <th>2016</th>
            <th>2018</th>
            <th>Odd Egil Lien</th>
            <th>+47 41315986</th>
        </tr>
        <tr>
            <th>Youth Council Rakkestad</th>
            <th>2012</th>
            <th>2018</th>
            <th>Service-office of Rakkestad</th>
            <th>+47 69225500</th>
        </tr>
    </tbody>
</table>


